// Configuration
@import "../config";

// Color
$primary: $aqua;

// User colors
@import '../user-colors';

// Variables
@import "../variables";

// User variables
@import '../user-variables';

// Color
@import "../theme/colors";