@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700");

@font-face {
  font-family:  LogoTilteFont;
  src:          url(fonts/Abys-Regular.otf);
}
.confTitle{
    font-family: LogoTilteFont;
}

:root {
    --bs-gray-100        : #f8f9fa;
    --bs-gray-200        : #e9ecef;
    --bs-gray-300        : #dee2e6;
    --bs-gray-400        : #ced4da;
    --bs-gray-500        : #adb5bd;
    --bs-gray-600        : #6c757d;
    --bs-gray-700        : #495057;
    --bs-gray-800        : #343a40;
    --bs-gray-900        : #212529;
    --bs-blue            : #3f78e0;
    --bs-purple          : #747ed1;
    --bs-violet          : #a07cc5;
    --bs-pink            : #d16b86;
    --bs-red             : #e2626b;
    --bs-orange          : #f78b77;
    --bs-yellow          : #fab758;
    --bs-green           : #6bbea3;
    --bs-leaf            : #7cb798;
    --bs-aqua            : #54a8c7;
    --bs-navy            : #343f52;
    --bs-ash             : #9499a3;
    --bs-white           : #fff;
    --bs-light           : #fefefe;
    --bs-gray            : #f6f7f9;
    --bs-dark            : #262b32;
    --bs-primary         : #3f78e0;
    --bs-secondary       : #aab0bc;
    --bs-success         : #6bbea3;
    --bs-info            : #54a8c7;
    --bs-warning         : #fab758;
    --bs-danger          : #e2626b;
    --bs-blue-rgb        : 63, 120, 224;
    --bs-purple-rgb      : 116, 126, 209;
    --bs-violet-rgb      : 160, 124, 197;
    --bs-pink-rgb        : 209, 107, 134;
    --bs-red-rgb         : 226, 98, 107;
    --bs-orange-rgb      : 247, 139, 119;
    --bs-yellow-rgb      : 250, 183, 88;
    --bs-green-rgb       : 107, 190, 163;
    --bs-leaf-rgb        : 124, 183, 152;
    --bs-aqua-rgb        : 84, 168, 199;
    --bs-navy-rgb        : 52, 63, 82;
    --bs-ash-rgb         : 148, 153, 163;
    --bs-white-rgb       : 255, 255, 255;
    --bs-light-rgb       : 254, 254, 254;
    --bs-gray-rgb        : 246, 247, 249;
    --bs-dark-rgb        : 38, 43, 50;
    --bs-primary-rgb     : 63, 120, 224;
    --bs-secondary-rgb   : 170, 176, 188;
    --bs-success-rgb     : 107, 190, 163;
    --bs-info-rgb        : 84, 168, 199;
    --bs-warning-rgb     : 250, 183, 88;
    --bs-danger-rgb      : 226, 98, 107;
    --bs-white-rgb       : 255, 255, 255;
    --bs-black-rgb       : 0, 0, 0;
    --bs-body-color-rgb  : 96, 105, 123;
    --bs-body-bg-rgb     : 254, 254, 254;
    --bs-font-sans-serif : "Manrope", sans-serif;
    --bs-font-monospace  : SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient        : linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-root-font-size  : 20px;
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size  : 1rem;
    --bs-body-font-weight: 500;
    --bs-body-line-height: 1.7;
    --bs-body-color      : #60697b;
    --bs-body-bg         : #fefefe;
}

/* NAVBAR SECTION ------------------------------------------------------------------------------------------------ */

#navbar_transparent {
    background: rgba(255, 255, 255, 0.0);
    z-index   : 2;
}

/* JUMBOTRON IMAGE BACKGROUND SECTION ---------------------------------------------------------------------------- */

#top-jumbotron {
    background        : url('../img/large/athens-royalty-free-1-large.jpeg') center center no-repeat;
    /*background      : no-repeat center center;*/
    background-size   : cover;
    position          : relative;
    z-index           : 0;
}

#top-jumbotron-small {
    background        : url('../img/large/athens-royalty-free-2-large.jpeg') center center no-repeat;
    /*background      : no-repeat center center;*/
    background-size   : cover;
    position          : relative;
    z-index           : 0;
}

#top-jumbotron-committee {
    background        : url('../img/large/athens-committees-bg-large.jpeg') center center no-repeat;
    /*background      : no-repeat center center;*/
    background-size   : cover;
    position          : relative;
    z-index           : 0;
}

#top-jumbotron-cfp {
    background        : url('../img/large/athens-cfp-bg-large.jpeg') center center no-repeat;
    /*background      : no-repeat center center;*/
    background-size   : cover;
    position          : relative;
    z-index           : 0;
}

#top-jumbotron-a11y {
    background        : url('../img/large/athens-accessibility-bg-large.jpeg') center center no-repeat;
    /*background      : no-repeat center center;*/
    background-size   : cover;
    position          : relative;
    z-index           : 0;
}

.image-wrapper:not(.mobile) {
    background-attachment: fixed !important;
}

.image-wrapper.bg-overlay:before {
    content : "";
    display : block;
    position: absolute;
    top     : 0;
    left    : 0;

    width     : 100%;
    height    : 100%;
    background: rgba(30, 34, 40, 0.3);
}

.image-wrapper.bg-overlay:not(.bg-content) *,
.image-wrapper.bg-overlay.bg-content .content {
    position: relative;
    z-index : 2;
}

#jumbotron_bottom_text {
    margin-bottom: 4em;
}

/* CALLOUT SECTION ---------------------------------------------------------------------------- */

.callout_section_0 {
}

.callout_section_1 {
    background: #f5f5fc
}

.footer {
    color:              white;
    text-align:         center;
    background:   url('../img/footer-bg/footer-bg-large.png') center center no-repeat;
}

.callout_section_2 {
    background: #ECECF9
}

h3 {
    color: #65446D;
    margin-top: 5px;
    margin-bottom: 20px;
}