/* ASSETS 2021 WEBSITE STYLES


FONT: Raleway (https://www.google.com/fonts/specimen/Raleway). 

Raleway has 9 differnt font weights. We will use: 

- for the Light/Thin text (e.g., italics): 200 (100 too thin)
- for Normal text: 400, and
- for Bold: 700

All fonts should be picked from sizes in the 
Fibinacci Sequence (1,1,2,3,5,8,13,21,34,...) and 
the Fibinacci Sequence Doubled (2,2,4,6,10,16,26,...) 

When in doubt, choose a font size from one these 
sequences combined (1,2,3,4,5,6,8,10,13,16,21,26...)

If the fonts are too large/small, just shift all the fonts on that 
page/section up or down.

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377
2, 2, 4, 6, 10, 16, 26, 42, 68, 110, ...

*/

html,
body {
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

}

:focus {
    outline: 2px dashed !important;
}

/*============================*/
/*    STYLES FOR HEADER     */
/*============================*/

/*----- Styles for skip navigation link -----*/
#skip_nav a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: 999;
}

#skip_nav a:focus {
    height: auto;
    width: auto;
    left: auto;
    overflow: auto;
}

/*----- Styles for anchor tag pseudoclass -----*/
a:focus {
    font-weight: 700;
    outline: auto;
    height: auto;
    width: auto;
    left: auto;
    overflow: auto;
}
button {
    font-weight: 700;
    font-family: 'KansasNew', serif;
    font-size: medium;
    background-color: #f2c555;
    border-radius: 10px;
    border-style: none;
    padding: 10px;
    color:#32394c;
    width: 100%;
    font-size: 1.3em !important;

}
.button-content {
    background-color: rgba(242, 197, 85, 0.33);
    padding: 25px 65px;
    font-size: 16pt;
    font-weight: 700;
    display: none; 
    max-height: 300px; 
    overflow: auto;
    font-size: 1.1em !important;
}

/*========================================*/
/*    STYLES FOR ACCESSIBLE FOOTNOTES     */
/*========================================*/
footer {
    margin-top: 50px;
    border-top: 1.5px solid #32394c;
    font-size: 1em !important;
}

footer ol {
    padding-left: 20px;
    font-size: 1em !important;
}

/**
   * Initialiazing a `footnotes` counter on the wrapper
   */
article {
    counter-reset: footnotes;
}

/**
   * Inline footnotes references
   * 1. Increment the counter at each new reference
   * 2. Reset link styles to make it appear like regular text
   */
[aria-describedby="footnote-label"] {
    counter-increment: footnotes;
    /* 1 */
    text-decoration: none;
    /* 2 */
    color: inherit;
    /* 2 */
    cursor: default;
    /* 2 */
    outline: none;
    /* 2 */
}

.footnote {
    font-weight: 400;
    /*200 was too thin*/
    color: #32394c;
}

/**
   * Actual numbered references
   * 1. Display the current state of the counter (e.g. `[1]`)
   * 2. Align text as superscript
   * 3. Make the number smaller (since it's superscript)
   * 4. Slightly offset the number from the text
   * 5. Reset link styles on the number to show it's usable
   */
[aria-describedby="footnote-label"]::after {
    content: '['counter(footnotes) ']';
    /* 1 */
    vertical-align: super;
    /* 2 */
    font-size: .7em !important;
    /* 3 */
    margin-left: 5px;
    /* 4 */
    color: rgb(168, 53, 22);
    /* 5 */
    text-decoration: none;
    /* 5 */
    cursor: pointer;
    /* 5 */
}

/**
   * Resetting the default focused styles on the number
   */
[aria-describedby="footnote-label"]:focus::after {
    outline: thin dotted;
    outline-offset: 2px;
}

[aria-label="Back to content"] {
    font-size: 1em;
}
a.back2 {
    font-size: 1em !important;
}

/**
   * Highlight target note
   */
footer :target {
    background: rgba(242, 197, 85, 0.25);
}

/**
   * Visually hidden yet accessible content
   */
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    visibility: hidden;
    opacity: 0;
}


.p {
    text-align: center;
    padding-top: 150px;
}

/*----- Styles for HEADER_TITLE_BAR -----*/

#header_title_bar {
    width: 100%;
}

/*------------ Styles for the HEADER = logo, date, and venue -----------*/

header {
    /*min-height: 200px;
height: 200px;
max-height: 200px;*/

    background-image: url('images/2021-svgs/home_header.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
    width: 100%;
    height: 300px;
    display: table;
    background-color: #32394c;
    color: #e6dfce;
}

#header_h1 {
    font-weight: 800;
    font-size: 32px;
    text-align: left;
    padding-left: 25px;
    -webkit-text-shadow: 2px 2px 2px rgba(33, 33, 51, 0.9);
    -moz-text-shadow: 2px 2px 2px rgba(33, 33, 51, 0.9);
    text-shadow: 2px 2px 2px rgba(33, 33, 51, 0.9);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(33, 33, 51);
}

#header_h2 {
    font-weight: 600;
    font-size: 24px;
    text-align: right;
    padding-right: 25px;
    float: right;
    margin-top: -65px;
    -webkit-text-shadow: 1px 1px 1px rgba(33, 33, 51, 0.9);
    -moz-text-shadow: 1px 1px 2px rgba(33, 33, 51, 0.9);
    text-shadow: 1px 1px 2px rgba(33, 33, 51, 0.9);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(33, 33, 51);
}

/*--------- Styles for menu bar -------*/

/* Menu bar implementation adapted from: http://webdesign.tutsplus.com/tutorials/building-a-responsive-layout-with-skeleton-navigation--webdesign-6385 */

#menu_bar

/*div*/
    {
    display: table;
    width: 100%;
    height: auto;
    /*background-color: black;*/
    background-color: #212133;
    /*border-top: 1px solid black;*/
}

#menu_bar nav ul {
    margin: 0px auto;
    padding: 0px;
}

#menu_bar nav ul li {
    margin: 0px auto;
    padding: 10px;
}

.mb_cell {
    /*li <-  #menu_bar nav ul li*/
    display: inline;
    float: left;
    width: auto;
    height: auto;
    position: relative;

}

.mb_link {
    /* a <- .mb_cell a = #menu_bar nav ul li a */
    display: inline-block;
    height: auto;
    /*text-transform: uppercase;*/
    letter-spacing: 0.05em;
    font-size: 16pt;
    font-weight: Medium;
    text-decoration: none;
    color: #e6dfce;

    /*text color for links is the same light gray as the background color for body and content*/
}

.mb_link:hover,
.mb_link:focus,
.mb_cell:hover>a {
    text-decoration: underline;
    /* A: Green on white */
    /*color: #004d00; 
background-color: white;*/
    /* B: White on green */
    color: #e6dfce;
    /*background-color: #008000;*/
    /*background-color: #0086e6;*/

}

.mb_drop_menu_link:hover,
.mb_drop_menu_link:focus {
    /*background-color: #0086e6; */
    /*#4c4c4c*/
    background-color: #445275;
    text-decoration: underline;

}

.mb_dd_menu {
    /* ul (drop-down menu) <- #menu_bar nav ul ul */
    position: absolute;
    z-index: 999;
    min-width: 100%;
    visibility: hidden;
    background-color: #32394c;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0px auto;
    padding: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out;
    -o-transition: opacity 0.2s ease-out;
    -ms-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}

.mb_dd_menu li {
    /* li <- #menu_bar nav ul ul li */
    display: list-item;
    float: none;
    border-top: 1px solid #B3C2BD;
    list-style: none;
    white-space: nowrap;
}

#sponsors li {
    white-space: normal;
    padding: 0px 20px;
}

.mb_drop_menu_link {
    /* a <- #menu_bar nav ul ul li a */
    display: block;
    /*background-color: black;*/
    /*#262626*/
    background-color: #32394c;
    text-decoration: none;
    color: #f0ebdf;
    font-size: 18px;
    padding: 5px 10px;
}

.external_link_img {
    vertical-align: text-top;
}

/*
.selected_link{
color: #F9959D; #1d82d2
}*/

/*----------- Styles for drop-down menu "drop_down_menu" (for smaller devices) --------*/

#drop_down_menu {
    display: table;
    width: 100%;
    /*background-color: #262626;*/
}

#drop_down_menu,
#drop_down_menu nav {
    text-align: center;

}

#drop_down_menu select {
    display: none;
    font-size: 16pt;
    background-color: #32394c;
    border: none;
    padding: 5px 10px;
    font-family: 'KansasNew', serif;
}

/*============================*/
/*     STYLES FOR FOOTER      */
/*============================*/
#footer {
    padding-top: 20px;
    /*height: 416px;*/
    /*background-image: url('images/CITY_VIEW_FROM SHERATON_INNER_HARBOR_HOTEL.jpg');
opacity: 0.4;
background-size: cover;
background-repeat :repeat-x; 
background-position: center;*/
    width: 100%;
}

/*img resources-01-original.png width="1443" height="416"*/
/*img resources-07.png width="1300" height="225"*/

#footer p {
    text-align: center;
    font-size: 32pt;
    font-weight: 700;
    /*color: #320f52;*/
    color: #e6dfce;
    padding: 100px 50px;

}

/*===============================*/
/*     STYLES FOR CONTENT div    */
/*===============================*/

#content {
    width: 90%;
    height: auto;
    margin: auto;
    /*background-color: #f2f2f2;*/
    background-color: #e6dfce;
    margin-bottom: 0px;
    padding-bottom: 50px;
    padding-top: 0px;
}

.pattern {
    background-image: url(images/2021-pngs/2x/pattern-left@2x.png), url(images/2021-pngs/2x/pattern-right@2x.png);
    background-repeat: repeat-y, repeat-y;
    background-position: left, right;
    background-size: 100px;
    position: relative;
    z-index: 50;
}

#content p,
#content ul,
#content ol {
    font-size: 16pt;
    font-weight: 400;
    /*200 was too thin*/
    color: #32394c;


}

#content ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

#content ol li {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5 {
    font-weight: 700;
}

#content a {
    font-weight: 700;
    color: #A83516;
}

#content h2,
#content h3,
#content h4,
#content h5 {
    color: #32394c;
    font-weight: 700;
}

#content h1 {
    font-size: 32pt;
    color: rgb(33, 33, 51);
}

#content h2 {
    font-size: 24pt;
}

.main_title {
    color: #e6dfce !important;
    font-weight: 700;
    background-color: #445275;
    padding: 25px 99px 100px 100px;
    text-align: center;
    margin-top: 0px;
}

#content h2.main_title {
    font-size: 32pt;
}

#content h3 {
    font-size: 21pt;
}

#content h4 {
    font-size: 18pt;
}

#content h5 {
    font-size: 15pt;
}

#content a {
    font-size: 16pt;
}

/*============================================*/
/*    STYLES FOR HOME PAGE (index.html)       */
/*============================================*/

#content #sigaccess_small_logo_link {
    width: 200px;
    border: 1px solid #1d82d2;
}

#content #home_h1 {
    color: #144476;
}

#home_scope_reg_sections {
    display: table;
    width: 100%;
}

/*main section for background  padding: 0px 20px;*/
#home_scope_section {
    display: table-cell;
    vertical-align: top;
    margin-top: -50px;
}

#home_logo_section {
    display: table-cell;
    vertical-align: top;
    text-align: center;
}

#flyer {
    text-align: center;
    background-color: #1d82d2;
    padding: 5px;
    margin-top: 50px;
}

#flyer p,
#flyer h2,
#flyer a {
    color: white;
}

#home_scope_section {
    width: auto;
    margin-top: -50px;
}

.section_wrapper {
    padding-left: 75px;
    padding-right: 75px;
}

#home_scope_section p,
#home_scope_section a {
    color: #e6dfce;
    letter-spacing: .05em;
}

#home_scope_section h3 {
    color: #e6dfce;
    letter-spacing: .05em;
    text-align: center;
}

#home_scope_section_important {
    background-color: #32394c;
    padding: 25px 40px;
    margin: -100px 125px 0px 125px;
    position: relative;
    z-index: 100;
    /* min-width: 360px; */
    color: #e6dfce;
}

.important_text {
    color: #e6dfce !important;
}


/* In the scope section there will be three images/links that need not be underlined */
.image_link {
    text-decoration: none;
}

#home_logo_section {
    width: 300px;
    max-width: 301px;
    padding: 20px 40px 20px 0px;
    height: 500px;
    float: left;
}

#home_logo_content_section {
    padding: 0px 0px 20px 0px;
    text-align: left;
}

#home_logo_content_section img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    max-width: 361px;
}

/*this is where we would change the background color for the important info section  with   background-color: #445275; */
#home_logo_section,
#home_logo_section_2,
#home_venue_section,
#home_important_dates_section,
#home_about_section {
    text-align: center;

}

#home_venue_section p {
    text-align: left;

}

#home_logo_section_2 {
    /*for smaller devices*/
    display: none;
}

#content h2.home_section_title {
    text-align: center;
    font-size: 32pt;
    font-weight: 700;
    color: #32394c;
    /*text-transform: uppercase;*/
    padding: 25px 0px;
    width: 75%;
    margin: 25px auto;
}

#important_dates {
    /*img*/
    padding-top: 30px;
}

#home_important_dates_section {
    /*background-image:url('images/resources-01-original.png');
background-size: contain;
background-position: center;
background-repeat: no-repeat;*/
    width: 100%;

}

.important_dates_caption,
.important_dates_list,
#home_important_dates_section_2,
#home_about_section {
    text-align: left;
    padding: 0px 50px;
}

.important_dates_list_ul {
    list-style: none;
    padding: 0px 30px;
}

#home_committee_section {
    text-align: left;
    width: 100%;
}

#home_committee_section_wrapper,
#home_sponsor_section_wrapper {
    padding: 0px 50px;
}

#home_committee_section h3 {
    font-size: 26pt;
}

#home_committee_section div.home_committee_member_container {
    display: inline-block;
    text-align: center;
    padding: 10px 50px;
}

#home_committee_section div.home_committee_member,
#home_committee_section div.org_committee_link {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #1d82d2;
    text-wrap: normal;
    height: 210px;
    width: 210px;
    padding: 10px 20px;
}

#home_committee_section div.home_committee_member {
    background-color: #1d82d2;
}

#home_committee_section div.org_committee_link {
    /* background-color: #f2f2f2;*/
    background-color: #e6dfce;
}

#home_committee_section p.home_committee_member_title {
    font-weight: 700;
    color: #e6dfce;
    font-size: 18pt;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

/*#content */
#home_committee_section p.home_committee_member_name {
    font-size: 16pt;
    color: #e6dfce;
    padding-top: 10px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;

}

/*#content */
#home_committee_section p.home_committee_member_affiliation {
    font-style: italic;
    font-size: 13pt;
    padding-top: 0px;
    margin-top: 0px;
    color: white;
}

/*#content #home_committee_section*/
#org_committee_link p {
    color: rgb(33, 33, 51);
}

/*#content #home_committee_section*/
#org_committee_link a {
    color: #1d82d2;
    font-weight: 700;
}

/*=======================================*/
/*=======================================*/
/*           Styles for IMAGES           */
/*=======================================*/
/*=======================================*/

.logo,
#important_dates,
#venue_img {
    max-width: 100%;
    height: auto;
}

.centered_img {
    text-align: center;
}

.centered_img img {
    max-width: 90%;
}

.inline_img {
    display: inline;
}

.inline_img img {
    width: auto;
    max-width: 100%;
}

.left_img {
    float: left;
    padding-right: 12px;
}

.right_img {
    float: right;
    padding-left: 12px;
}

/*=======================================*/
/*=======================================*/

/*=======================================*/
/*         STYLES FOR SOON.HTML          */
/*=======================================*/

#message p {
    font-size: 32pt;
    font-weight: 700;
    text-align: center;
    color: rgb(33, 33, 51);
}

/*=====================================*/
/*        STYLES FOR VENUE PAGE        */
/*=====================================*/

/*#venue_content{
background-color: #B3C2BD;
}
#venue_content {
text-align: center;
}*/



#venue_img_map {
    display: table;
    width: 100%;
}

#small_venue_img,
#venue_map {
    text-align: center;
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

#map,
#map iframe {
    max-width: 100%;
    text-align: center;
}

#content .quote {
    max-width: 99%;
    display: block;
    font-style: italic;
    font-size: 16pt;
    font-weight: 400;
    /*200 was too thin*/
    color: #32394c;
    /*text-align: center;*/
    margin-top: 40px;
    margin-bottom: 40px;
    /*margin-left: 50px;
margin-right: 50px;*/
    padding: 30px;
    /*border-radius: 10px;*/
    background-color: #e0e0e0;
    border-left: 20px solid #ccc;
}

#content div.note {
    max-width: 90%;
    display: block;
    font-size: 16pt;
    font-weight: 400;
    /*200 was too thin*/
    color: #32394c;
    /*text-align: center;*/
    margin-top: 40px;
    margin-bottom: 40px;
    /*margin-left: 50px;
margin-right: 50px;*/
    padding: 30px;
    /*border-radius: 10px;*/
    background-color: #f2f2f2;
    border-left: 20px solid #ccc;
}

#content .source {
    font-style: normal;
    text-align: right;
    padding-top: 20px;
}

/*#content .source a{
color: white;
}*/

/*===============================================*/
/* STYLES FOR VENUE AND BECOMING A PARTNER PAGES */
/*===============================================*/

#sponsor_benefits,
#hotel_rates {
    width: 100%;
}

#hotel_rates {
    empty-cells: show;
}

#sponsor_benefits caption,
#hotel_rates caption {
    font-size: 21pt;
    color: #400800;
    padding: 10px;
    font-weight: 700;
}

#sponsor_benefits,
#hotel_rates,
#sponsor_benefits th,
#hotel_rates th,
#sponsor_benefits td,
#hotel_rates td {
    border-collapse: collapse;
    border: 1px solid #262626;
    font-size: 16pt;
}

#sponsor_benefits th,
#sponsor_benefits td,
#hotel_rates th,
#hotel_rates td {
    padding: 10px;
}

.col_header {
    text-align: left;
}

.row_header {
    color: #32394c;
    /*#400800*/
}

.contribution {
    text-align: center;
}

/*=====================================*/
/*        STYLES FOR TRAVEL PAGE        */
/*=====================================*/

/*.multicol {
position:relative;
left:8%;
width:84%;
height: auto;
background-color:#ccff88;
column-width:20em;
column-gap:2em;
}
*/
/*==============================================================*/
/*           STYLES FOR ORGANIZING & PROGRAM COMMITTEE          */
/*==============================================================*/

#content div.committee_member {
    display: block;
}

#content div.committee_member p {
    display: table-cell;
    font-size: 21pt;
    font-weight: 400;
    /*200 was too thin*/
    color: rgb(33, 33, 51);
    vertical-align: middle;
    padding: 5px;
}

/*------Organizing Committee Styles--------*/

#content div.committee_member p a {
    font-weight: 400;
    display: block;
    padding-bottom: 10px;
}

#content p.committee_member_img img {
    height: 100px;
    width: 100px;
    display: inline;
    border-radius: 50%;
    border: .1px solid #e6dfce;
    margin-right: 20px;
}

/*------Program Committee Styles--------*/

#content div.committee_member div {
    display: block;
    font-size: 21pt;
    font-weight: 200;
    color: rgb(33, 33, 51);
    padding: 5px;
    padding-bottom: 30px;
    font-style: italic;
}

#content div.committee_member div a {
    display: block;
    font-style: normal;
    padding-top: 20px;
    font-size: 21pt;
}

/*=====================================*/
/*        STYLES FOR SRC PAGE        */
/*=====================================*/

#src_sponsor {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
    background-color: white;
    border-left: 20px solid #1d82d2;
    /*------------------------------ change COLOR */
    border-right: 20px solid #1d82d2;
}

#src_sponsor_text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#src_sponsor_img {
    max-width: 100%;
    height: auto;
    /*padding-bottom: 5px;*/
    padding-top: 20px;
}

.src_reviewer {
    padding-left: 5px;
    margin-bottom: 0px;
}

.src_reviewer_affiliation {
    margin-top: 0px;
    font-size: 16pt;
    font-style: italic;
    font-weight: 200;
    /*200 is thin*/
    color: #262626;
}

/*==============================================================*/
/*                 STYLES FOR SPONSORS PAGE                     */
/*==============================================================*/

#content .sponsor {
    text-align: left;
}

#content .sponsor_img {
    max-width: 50%;
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
}

.sponsor_type {
    font-weight: 700;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*==============================================================*/
/*             STYLES FOR CAPTIONING CHALLENGE PAGE             */
/*==============================================================*/

#captioning_challenge_img {
    max-width: 100%;
    height: auto;
    float: right;
    padding-left: 15px;
}

/*=====================================*/
/*    STYLES FOR REGISTRATION PAGE     */
/*=====================================*/

#registration_fees {
    border: 1px solid #32394c;
    border-collapse: collapse;
    text-align: left;
    font-size: 16pt;
}

/*#registration_fees caption{
font-size: 18pt;
padding: 10px;
font-weight: 700;
}*/

#registration_fees td,
#registration_fees th {
    padding: 10px;
    border: 1px solid #32394c;
}

.column_header {
    color: #32394c;
    /*#400800*/
    overflow-x: auto;
    max-width: 210px;
}

/*===============================================*/
/*        STYLES FOR ACCEPTED PAPERS PAGE        */
/*===============================================*/
.paper {
    display: block;
    font-size: 1.15em;
    font-weight: 600;

    color: #32394c;
    letter-spacing: 0.025em
}


.paper_award img {
max-height: 25px;
vertical-align: top;
padding-left: 25px;
margin-bottom: 10px;
}

.authors {
    font-weight: 200;
    font-size: .75em;
    color: #e6dfce;

    letter-spacing: 0.025em
}

.posterscript {
    font-weight: 150;
    color: #262626;
}

/*===============================================*/
/*        STYLES FOR WORKSHOP ABSTRACTS PAGE        */
/*===============================================*/
.abstract {
    display: block;
    font-size: 16pt;
    font-weight: 600;
    padding-bottom: 30px;
}

.abstractauthors {
    font-style: italic;
    font-weight: 200;
    color: #262626;
}

#workshop_keynote {
    padding-left: 5%;
}

/*===============================================*/
/*             STYLES FOR PROGRAM PAGEs           */
/*===============================================*/

.program {
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    border: 1px solid #262626;
    max-width: 100%;
    /*display: block;*/

}
#content .program ul li {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}

.program th,
.program td {
    padding: 0 25px;
    border: 1px solid #262626;
}

#content .program th p {
    font-weight: 700;
}

.list_chairs {
    list-style: none;
}

a#monday,
a#tuesday,
a#wednesday {
    font-size: 21pt;
}

#content .program_h2 {
    color: #32394c;
    /*font-size: 26pt;*/
}

/*#keynote_speaker{
float: right; 
padding-left: 10px; 
max-width: 90%;
}*/

#keynote_speaker_profile_pic {
    display: inline;
}

#keynote_speaker_profile_pic img {
    float: left;
    width: 40%;
    padding: 5px;
    padding-right: 20px;
    max-height: 240px;
    max-width: 240px;
}

#keynote_announcement {
    display: block;
    margin-bottom: 5px;
    

    /*border: solid 1px #ff0000;*/
    zoom: 1;
    /* IE6&7 */
}

#keynote_announcement:before,
#keynote_announcement:after {
    content: "";
    display: table;
}

#keynote_announcement:after {
    clear: both;
}

#about_speaker {
    display: block;
    margin-top: 5px;

    /*border: solid 1px #ff0000;*/
    zoom: 1;
    /* IE6&7 */
}

#uxp_logos {
    text-align: center;
}

#uxp_logos img {
    display: inline-block;
    max-width: 30%;
}

/*For img in paragraph - float left */

/*  MEDIA QUERIES =========================================================================================================== */
/*
Idea from: http://webdesign.tutsplus.com/tutorials/building-a-responsive-layout-with-skeleton-navigation--webdesign-6385
Original queries:

For smaller than standard 960 (devices and browsers)
@media only screen and (max-width: 959px){}

For tablet portrait size to standard 960 (devices and browsers) 
@media only screen and (min-width: 768px) and (max-width: 959px){}

For all mobile sizes (devices and browsers) 
@media only screen and (max-width: 767px){}

For mobile landscape size to tablet portrait (devices and browsers) 
@media only screen and (min-width: 480px) and (max-width: 767px){}

For all mobile sizes (devices and browsers) 
@media only screen and (max-width: 479px){}

============================================================================================================================== */



/* 
The following is for everything else that needs to be modified 
for smaller screens.

max-width is 414px because that is the width of the iPhone6+ in
portrait mode and that was the device with the largest width.
So for any screen with a width less than or equeal to that, the
following will apply.
*/


@media only screen and (max-width: 640px) {


    html,
    body {
        padding: 0px;
        background-color: #e6dfce;
        margin: 0px;
    }

    header {
        background-image: url('images/2021-svgs/home_header.svg');
    }

    #home_logo_section {
        width: 200px;
        max-width: 201px;
        padding: 20px 40px 20px 0px;
        height: 320px;
        float: left;
    }

    #skip_nav {
        display: none;
    }

    #drop_down_menu select {
        display: block;
        width: 100%;
        background-color: #212133;
        color: #e6dfce;
        font-weight: 500;
        letter-spacing: .05em;
    }

    #menu_bar {
        display: none;
    }

    #home_scope_section_important {
        background-color: #32394c;
        padding: 25px;
        margin: -100px 0px 0px 0px;
        position: relative;
        z-index: 100;
        min-width: 320px;
        color: #e6dfce;

    }

    .main_title {
        color: #e6dfce !important;
        font-weight: 700;
        background-color: #445275;
        padding: 25px 0px 100px 0px;
        text-align: center;
        margin-top: 0px;
        width: 100%;
        max-width: 641px;
    }

    #content h2.main_title {
        font-size: 24pt;
    }

    #content {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: auto;

        background-color: #e6dfce;
        margin-bottom: 0px;
        padding-bottom: 50px;
        padding-top: 0px;
    }

    #home_logo_section_2 {
        display: block;
        padding-top: 10px;
        text-align: center;
    }

    #content h1,
    #content #home_scope_reg_sections #home_scope_section #home_h1 #content h2.home_section_title {
        font-size: 21pt;

    }

    #content h2.home_section_title,
    #home_h2,
    #content h2 {
        font-size: 18pt;
    }

    #content h2.home_section_title {
        padding: 5px 0px;
    }

    #content h3 {
        font-size: 16pt;
    }

    #content,
    #content a,
    #content p,
    #content li,
    #content h4 {
        font-size: 14pt;
    }

    #content .program tr p,
    #content .program th p,
    #content .program td p,
    #content .program td ul li {
        font-size: 14pt;
    }

    #content .program th,
    #content .program td {
        padding: 10px 5px;
    }

    #content .program {
        padding: 5px;
    }

    #content ul li {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }

    #content ol li {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }

    #home_committee_section h3 {
        font-size: 16pt;
    }

    .inline_img {
        display: block;
        text-align: center;
    }

    .inline_img img {
        height: auto;
        width: auto;
        max-width: 100%;
    }

    .left_img {
        float: none;
        padding-right: 0px;
    }

    .right_img {
        float: none;
        padding-left: 0px;
    }

    #keynote_speaker {
        float: none;
        padding-right: 10px;
    }

    #content div.committee_member p.committee_member_info {
        font-size: 16pt;

    }

    #content div.committee_member p.committee_member_info a {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;

    }

    #about_speaker,
    #content a {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
    }

    #map {
        text-align: center;
    }

    #map iframe {
        width: 300px;
        height: 250px;
        max-width: 90%;
    }

    .pattern {
        background-image: none;
        border: none;
        background-size: 0px;
        background-repeat: none;
        background-position: unset;
    }

    #home_committee_section_wrapper,
    #home_sponsor_section_wrapper {
        padding: 0px 20px;
    }

    .section_wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .important_dates_caption,
    .important_dates_list,
    #home_important_dates_section_2,
    #home_about_section {
        text-align: left;
        padding: 0px 20px;
    }
}

/*----------------------------------------------------------------------*/
/*---------------------- Mobile Devices 641-800px ----------------------*/
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 800px) and (min-width: 641px) {
    #content {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: auto;
        /*background-color: #f2f2f2;*/
        background-color: #e6dfce;
        margin-bottom: 0px;
        padding-bottom: 50px;
        padding-top: 0px;
    }

    #home_scope_section_important {
        background-color: #32394c;
        padding: 30px;
        margin: -100px 90px 0px 90px;
        position: relative;
        z-index: 100;
        min-width: 360px;
        color: #e6dfce;
    }

    .pattern {
        background-image: url(images/2021-pngs/2x/pattern-left@2x.png), url(images/2021-pngs/2x/pattern-right@2x.png);
        background-repeat: repeat-y, repeat-y;
        background-position: left, right;
        background-size: 90px;
        position: relative;
        z-index: 50;
    }

    #home_logo_section {
        width: 200px;
        max-width: 201px;
        padding: 20px 40px 20px 0px;
        height: 320px;
        float: left;
    }

    .section_wrapper {
        padding-left: 65px;
        padding-right: 60px;
    }

    #content div.committee_member p.committee_member_info {
        font-size: 18pt;

    }

}


/*----------------------------------------------------------------------*/
/*---------------------- Mobile Devices 500-639px ----------------------*/
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 640px) and (min-width: 500px) {

    html,
    body {
        padding: 0px;
        background-color: #e6dfce;
        margin: 0px;
    }

    #content {
        margin: 0px;
        width: 100%;
    }

    #skip_nav {
        display: none;
    }

    #drop_down_menu select {
        display: block;
        width: 100%;
        background-color: #262626;
        color: white;
        font-weight: 400;
        font-family: 'KansasNew', serif;
    }

    #menu_bar {
        display: none;
    }

    #keynote_speaker_profile_pic {
        display: block;
        text-align: center;
    }

    #keynote_speaker_profile_pic img {
        float: none;
    }

    .section_wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pattern {
        background-image: none;
        border: none;
        background-size: 0px;
        background-repeat: none;
        background-position: unset;
    }

    .main_title {
        color: #e6dfce !important;
        font-weight: 700;
        background-color: #445275;
        padding: 25px 0px 100px 0px;
        text-align: center;
        margin-top: 0px;
        width: 100%;
        max-width: 640px;
    }

    #content h2.main_title {
        font-size: 24pt;
    }

    #content h3 {
        font-size: 18pt;
    }

    #home_scope_section_important {
        background-color: #32394c;
        padding: 25px;
        margin: -100px 0px 0px 0px;
        position: relative;
        z-index: 100;
        min-width: 360px;
        color: #e6dfce;

    }
}

/*----------------------------------------------------------------------*/
/*--------------------- Small Mobile Devices <500px --------------------*/
/*----------------------------------------------------------------------*/
@media only screen and (max-width: 499px) {

    html,
    body {
        padding: 0px;
        background-color: #e6dfce;
        margin: 0px;
        width: 100%;
        min-width: fit-content;
    }

    #skip_nav {
        display: none;
    }

    #drop_down_menu select {
        display: block;
        width: 100%;
        background-color: #212133;
        color: #e6dfce;
        font-weight: 500;
        letter-spacing: .05em;
    }

    #menu_bar {
        display: none;
    }

    /*----- Styles for HEADER_TITLE_BAR -----*/

    #header,
    #header_title_bar {
        width: 100%;
        /* margin: 0 auto; */
    }

    header {
        background-image: url('images/2021-svgs/home_header-sm.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        /* margin: 0 auto; */
        display: table;
        background-color: #32394c;
        color: #e6dfce;
        padding-top: 60px;
        text-align: center;
        float: none;
        width: 100%;
        /* min-width: 280px;
        max-width: 499px; */
        height: 200px;
    }


    #header_h1 {
        font-weight: 800;
        font-size: 30px;
        text-align: center;
        margin: -40px auto 0 auto;
        padding: 0;
        float: none;
        -webkit-text-shadow: 2px 2px 2px rgba(33, 33, 51, 0.9);
        -moz-text-shadow: 2px 2px 2px rgba(33, 33, 51, 0.9);
        text-shadow: 2px 2px 2px rgba(33, 33, 51, 0.9);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(33, 33, 51);
    }

    #header_h2 {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        float: none;
        padding: 0;
        margin: -5px auto 0 auto;
        -webkit-text-shadow: 1px 1px 1px rgba(33, 33, 51, 0.9);
        -moz-text-shadow: 1px 1px 2px rgba(33, 33, 51, 0.9);
        text-shadow: 1px 1px 2px rgba(33, 33, 51, 0.9);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(33, 33, 51);
    }

    #home_logo_section {
        width: 240px;
        max-width: 320px;
        padding: 20px 40px 20px 40px;
        height: 400px;
        float: left;
        margin-left: auto;
        margin-right: auto;
    }

    /*------------------*/
    #content {
        width: 100%;
        /* min-width: 320px;
max-width:499px; */
        height: auto;
        background-color: #e6dfce;
        margin: 0px auto;
        padding-top: 0 auto 50px auto;
    }

    #home_scope_section {
        width: 100%;
        min-width: 320px;
        max-width: 499px;
        margin-top: -50px;
    }

    #home_scope_section_important {
        background-color: #32394c;
        padding: 30px;
        margin: -100px 0px 0px 0px;
        position: relative;
        z-index: 100;
        /* width: 240px; */
        color: #e6dfce;
    }

    .main_title {
        color: #e6dfce !important;
        font-weight: 700;
        background-color: #445275;
        padding: 25px 0px 100px 0px;
        text-align: center;
        margin-top: 0px;
        width: auto;
        /* min-width: 280px;
max-width:499px; */
    }

    h2.main_title {
        font-size: 21pt;
        /* padding-right: 20px;
padding-left: 20px; */
    }



    #home_logo_section_2 {
        display: block;
        padding-top: 10px;
        text-align: center;
    }

    /*------------------*/

    #content h1,
    #content #home_scope_reg_sections #home_scope_section #home_h1 #content h2.home_section_title {
        font-size: 21pt;

    }

    #content h2.home_section_title,
    #home_h2,
    #content h2 {
        font-size: 21pt;
    }

    #content h2.home_section_title {
        padding: 5px 0px;
    }

    #content h3 {
        font-size: 18pt;
    }

    #content,
    #content a,
    #content p,
    #content li,
    #content h4 {
        font-size: 16pt;
    }

    /*------------------*/

    #content .program tr p,
    #content .program th p,
    #content .program td p,
    #content .program td ul li {
        font-size: 14pt;
    }

    #content .program th,
    #content .program td {
        padding: 10px 5px;
    }

    #content .program {
        padding: 0px;
    }

    #content ul li {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }

    #content ol li {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px 10px;
    }

    /*------------------*/

    #home_committee_section h3 {
        font-size: 16pt;
    }

    .inline_img {
        display: block;
        text-align: center;
    }

    .inline_img img {
        height: auto;
        width: auto;
        max-width: 100%;
    }

    .left_img {
        float: none;
        padding-right: 0px;
    }

    .right_img {
        float: none;
        padding-left: 0px;
    }

    #keynote_speaker {
        float: none;
        padding-right: 10px;
    }

    #content div.committee_member p.committee_member_info {
        font-size: 16pt;

    }

    #content div.committee_member p.committee_member_info a {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
        /*text-overflow: ellipsis;*/

    }

    #about_speaker,
    #content a {
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
    }

    #map {
        /*display: none;*/
        text-align: center;
    }

    #map iframe {
        width: 300px;
        height: 250px;
        max-width: 90%;
    }


    #home_committee_section_wrapper,
    #home_sponsor_section_wrapper {
        padding: 0px 20px;
    }

    .section_wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .important_dates_caption,
    .important_dates_list,
    #home_important_dates_section_2,
    #home_about_section {
        text-align: left;
        padding: 0px 20px;
    }






}