<section class="wrapper bg-light">
  <div class="container py-14 py-md-16">
    <div class="row gx-lg-8 gx-xl-12 gy-10 mb-14 mb-md-16 align-items-center">
      <div class="col-lg-7">
        <figure><img class="w-auto" src="@@webRoot/assets/img/concept/concept8.png" srcset="@@webRoot/assets/img/concept/concept8@2x.png 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h3 class="display-4 mb-6 pe-xxl-6">We bring rapid solutions to make the life of our customers easier.</h3>
        <ul class="progress-list mt-3">
          <li>
            <p>Marketing</p>
            <div class="progressbar line blue" data-value="100"></div>
          </li>
          <li>
            <p>Strategy</p>
            <div class="progressbar line yellow" data-value="80"></div>
          </li>
          <li>
            <p>Development</p>
            <div class="progressbar line orange" data-value="85"></div>
          </li>
          <li>
            <p>Data Analysis</p>
            <div class="progressbar line green" data-value="90"></div>
          </li>
        </ul>
        <!-- /.progress-list -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
      <div class="col-lg-7 order-lg-2">
        <figure><img class="w-auto" src="@@webRoot/assets/img/concept/concept7.png" srcset="@@webRoot/assets/img/concept/concept7@2x.png 2x" alt="" /></figure>
      </div>
      <!--/column -->
      <div class="col-lg-5">
        <h3 class="display-4 mb-5">We make your spending stress-free for you to have the perfect control.</h3>
        <p class="mb-6">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
        <div class="row gy-3">
          <div class="col-xl-6">
            <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
              <li><span><i class="uil uil-check"></i></span><span>Aenean quam ornare. Curabitur blandit.</span></li>
              <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Nullam quis risus eget urna mollis ornare.</span></li>
            </ul>
          </div>
          <!--/column -->
          <div class="col-xl-6">
            <ul class="icon-list bullet-bg bullet-soft-primary mb-0">
              <li><span><i class="uil uil-check"></i></span><span>Etiam porta euismod malesuada mollis.</span></li>
              <li class="mt-3"><span><i class="uil uil-check"></i></span><span>Vivamus sagittis lacus vel augue rutrum.</span></li>
            </ul>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /section -->