@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
@@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex">
    <ul class="navbar-nav ms-lg-auto">
      }
      <li class="nav-item"><a class="nav-link scroll" href="#home">Home</a></li>
      <li class="nav-item"><a class="nav-link scroll" href="#services">Services</a></li>
      <li class="nav-item"><a class="nav-link scroll" href="#process">Process</a></li>
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
  <div class="w-100 order-3 order-lg-2 d-lg-flex">
    <ul class="navbar-nav me-lg-auto">
      }
      <li class="nav-item"><a class="nav-link scroll" href="#about">About</a></li>
      <li class="nav-item"><a class="nav-link scroll" href="#testimonials">Testimonials</a></li>
      <li class="nav-item"><a class="nav-link scroll" href="#contact">Contact</a></li>
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
}
@@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}