@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
@@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex">
    <ul class="navbar-nav ms-lg-auto">
      }
      <li class="nav-item"><a class="nav-link" href="#!">Demos</a>
      <ul class="dropdown-menu mega-menu mega-menu-dark mega-menu-img">
        <li class="mega-menu-content">
          <ul class="row row-cols-1 row-cols-lg-6 gx-0 gx-lg-4 gy-lg-2 list-unstyled">
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo1.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi1.jpg" srcset="@@webRoot/assets/img/demos/mi1@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo I</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo2.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi2.jpg" srcset="@@webRoot/assets/img/demos/mi2@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo II</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo3.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi3.jpg" srcset="@@webRoot/assets/img/demos/mi3@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo III</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo4.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi4.jpg" srcset="@@webRoot/assets/img/demos/mi4@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo IV</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo5.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi5.jpg" srcset="@@webRoot/assets/img/demos/mi5@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo V</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo6.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi6.jpg" srcset="@@webRoot/assets/img/demos/mi6@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo VI</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo7.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi7.jpg" srcset="@@webRoot/assets/img/demos/mi7@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo VII</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo8.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi8.jpg" srcset="@@webRoot/assets/img/demos/mi8@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo VIII</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo9.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi9.jpg" srcset="@@webRoot/assets/img/demos/mi9@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo IX</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo10.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi10.jpg" srcset="@@webRoot/assets/img/demos/mi10@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo X</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo11.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi11.jpg" srcset="@@webRoot/assets/img/demos/mi11@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo XI</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo12.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi12.jpg" srcset="@@webRoot/assets/img/demos/mi12@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo XII</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo13.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi13.jpg" srcset="@@webRoot/assets/img/demos/mi13@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo XIII</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo14.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi14.jpg" srcset="@@webRoot/assets/img/demos/mi14@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo XIV</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo15.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi15.jpg" srcset="@@webRoot/assets/img/demos/mi15@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo XV</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo16.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi16.jpg" srcset="@@webRoot/assets/img/demos/mi16@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo XVI</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo17.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi17.jpg" srcset="@@webRoot/assets/img/demos/mi17@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo XVII</span>
              </a></li>
            <li class="col"><a class="dropdown-item" href="@@webRoot/demo18.html">
                <figure class="rounded lift d-none d-lg-block"><img src="@@webRoot/assets/img/demos/mi18.jpg" srcset="@@webRoot/assets/img/demos/mi18@2x.jpg 2x" alt=""></figure>
                <span class="d-lg-none">Demo XVIII</span>
              </a></li>
          </ul>
          <!--/.row -->
        </li>
        <!--/.mega-menu-content-->
      </ul>
      <!--/.dropdown-menu -->
    </li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#!">Pages</a>
      <ul class="dropdown-menu">
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Services</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/services.html">Services I</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/services2.html">Services II</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">About</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/about.html">About I</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/about2.html">About II</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Contact</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/contact.html">Contact I</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/contact2.html">Contact II</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/contact3.html">Contact III</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/pricing.html">Pricing</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/onepage.html">One Page</a></li>
      </ul>
    </li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#!">Projects</a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/projects.html">Projects I</a></li>
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/projects2.html">Projects II</a></li>
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/projects3.html">Projects III</a></li>
          <li class="nav-item"><a class="dropdown-item" href="@@webRoot/projects4.html">Projects IV</a></li>
          <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Single Projects</a>
            <ul class="dropdown-menu">
              <li class="nav-item"><a class="dropdown-item" href="@@webRoot/single-project.html">Single Project I</a></li>
              <li class="nav-item"><a class="dropdown-item" href="@@webRoot/single-project2.html">Single Project II</a></li>
              <li class="nav-item"><a class="dropdown-item" href="@@webRoot/single-project3.html">Single Project III</a></li>
            </ul>
          </li>
        </ul>
      </li>
        @@if (context.centerLogo) {
      </ul>
      <!-- /.navbar-nav -->
  </div>
  <div class="w-100 order-3 order-lg-2 d-lg-flex">
    <ul class="navbar-nav me-lg-auto">
      }
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#!">Blog</a>
      <ul class="dropdown-menu">
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog.html">Blog without Sidebar</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog2.html">Blog with Sidebar</a></li>
        <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog3.html">Blog with Left Sidebar</a></li>
        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Blog Posts</a>
          <ul class="dropdown-menu">
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog-post.html">Post without Sidebar</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog-post2.html">Post with Sidebar</a></li>
            <li class="nav-item"><a class="dropdown-item" href="@@webRoot/blog-post3.html">Post with Left Sidebar</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="nav-item"><a class="nav-link" href="#!">Blocks</a>
    <ul class="dropdown-menu mega-menu mega-menu-dark mega-menu-img">
      <li class="mega-menu-content">
        <ul class="row row-cols-1 row-cols-lg-6 gx-0 gx-lg-6 gy-lg-4 list-unstyled">
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/about.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block1.svg" alt=""></div>
              <span>About</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/blog.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block2.svg" alt=""></div>
              <span>Blog</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/call-to-action.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block3.svg" alt=""></div>
              <span>Call to Action</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/clients.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block4.svg" alt=""></div>
              <span>Clients</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/contact.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block5.svg" alt=""></div>
              <span>Contact</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/facts.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block6.svg" alt=""></div>
              <span>Facts</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/faq.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block7.svg" alt=""></div>
              <span>FAQ</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/features.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block8.svg" alt=""></div>
              <span>Features</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/footer.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block9.svg" alt=""></div>
              <span>Footer</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/hero.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block10.svg" alt=""></div>
              <span>Hero</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/navbar.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block11.svg" alt=""></div>
              <span>Navbar</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/portfolio.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block12.svg" alt=""></div>
              <span>Portfolio</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/pricing.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block13.svg" alt=""></div>
              <span>Pricing</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/process.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block14.svg" alt=""></div>
              <span>Process</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/team.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block15.svg" alt=""></div>
              <span>Team</span></a>
          </li>
          <li class="col"><a class="dropdown-item" href="@@webRoot/docs/blocks/testimonials.html">
              <div class="rounded img-svg d-none d-lg-block p-4 mb-lg-2"><img class="rounded-0" src="@@webRoot/assets/img/demos/block16.svg" alt=""></div>
              <span>Testimonials</span></a>
          </li>
        </ul>
        <!--/.row -->
      </li>
      <!--/.mega-menu-content-->
    </ul>
    <!--/.dropdown-menu -->
  </li>
  <li class="nav-item"><a class="nav-link" href="@@webRoot/docs/index.html">Documentation</a>
    <ul class="dropdown-menu mega-menu">
      <li class="mega-menu-content">
        <div class="row gx-0 gx-lg-3">
          <div class="col-lg-4">
            <h6 class="dropdown-header">Usage</h6>
            <ul class="list-unstyled cc-2 pb-lg-1">
              <li><a class="dropdown-item" href="@@webRoot/docs/index.html">Get Started</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/forms.html">Forms</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/faq.html">FAQ</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/changelog.html">Changelog</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/credits.html">Credits</a></li>
            </ul>
            <h6 class="dropdown-header mt-lg-6">Styleguide</h6>
            <ul class="list-unstyled cc-2">
              <li><a class="dropdown-item" href="@@webRoot/docs/styleguide/colors.html">Colors</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/styleguide/fonts.html">Fonts</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/styleguide/duotone-icons.html">Duotone Icons</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/styleguide/unicons.html">Unicons</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/styleguide/illustrations.html">Illustrations</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/styleguide/media.html">Media</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/styleguide/abstract.html">Abstract Images</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/styleguide/misc.html">Misc</a></li>
            </ul>
          </div>
          <!--/column -->
          <div class="col-lg-8">
            <h6 class="dropdown-header">Elements</h6>
            <ul class="list-unstyled cc-3">
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/accordion.html">Accordion</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/alerts.html">Alerts</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/animations.html">Animations</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/avatars.html">Avatars</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/background.html">Background</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/badges.html">Badges</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/breadcrumb.html">Breadcrumb</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/buttons.html">Buttons</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/carousel.html">Carousel</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/dividers.html">Dividers</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/form-elements.html">Form Elements</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/hover.html">Hover</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/image-mask.html">Image Mask</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/lightbox.html">Lightbox</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/lists.html">Lists</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/player.html">Media Player</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/modal.html">Modal</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/progressbar.html">Progressbar</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/shadows.html">Shadows</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/shapes.html">Shapes</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/tables.html">Tables</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/tabs.html">Tabs</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/text-highlight.html">Text Highlight</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/tooltips-popovers.html">Tooltips & Popovers</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/typed-text.html">Typed Text</a></li>
              <li><a class="dropdown-item" href="@@webRoot/docs/elements/typography.html">Typography</a></li>
            </ul>
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </li>
      <!--/.mega-menu-content-->
    </ul>
    <!--/.dropdown-menu -->
  </li>
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
}
@@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}