<div class="offcanvas-info text-inverse">
  <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-info-close" aria-label="Close"></button>
  <a href="@@webRoot/index.html"><img src="@@webRoot/assets/img/logo-light.png" srcset="@@webRoot/assets/img/logo-light@2x.png 2x" alt="" /></a>
  <div class="mt-4 widget">
    <p>Sandbox is a multipurpose HTML5 template with various layouts which will be a great solution for your business.</p>
  </div>
  <!-- /.widget -->
  <div class="widget">
    <h4 class="widget-title text-white mb-3">Contact Info</h4>
    <address> Moonshine St. 14/05 <br /> Light City, London </address>
    <a href="mailto:first.last@email.com">info@email.com</a><br /> +00 (123) 456 78 90
  </div>
  <!-- /.widget -->
  <div class="widget">
    <h4 class="widget-title text-white mb-3">Learn More</h4>
    <ul class="list-unstyled">
      <li><a href="#">Our Story</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <!-- /.widget -->
  <div class="widget">
    <h4 class="widget-title text-white mb-3">Follow Us</h4>
    <nav class="nav social social-white">
      <a href="#"><i class="uil uil-twitter"></i></a>
      <a href="#"><i class="uil uil-facebook-f"></i></a>
      <a href="#"><i class="uil uil-dribbble"></i></a>
      <a href="#"><i class="uil uil-instagram"></i></a>
      <a href="#"><i class="uil uil-youtube"></i></a>
    </nav>
    <!-- /.social -->
  </div>
  <!-- /.widget -->
</div>
<!-- /.offcanvas-info -->