<nav class="navbar navbar-expand-lg @@classList">
  <div class="container flex-lg-column">
    <div class="topbar d-flex flex-row w-100 justify-content-between align-items-center">
      <div class="navbar-brand"><a href="@@webRoot/index.html"><img src="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}.png" srcset="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}@2x.png 2x" alt="" /></a></div>
      <div class="navbar-other ms-auto">
        <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
          <li class="nav-item"><a class="nav-link" data-toggle="offcanvas-info"><i class="uil uil-info-circle"></i></a></li>
          @@include('_menu-others-lang.html')
          <li class="nav-item d-lg-none">
            <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
          </li>
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /.navbar-other -->
    </div>
    <!-- /.d-flex -->
    <div class="navbar-collapse-wrapper bg-white d-flex flex-row align-items-center">
      <div class="navbar-collapse offcanvas-nav">
        <div class="offcanvas-header d-lg-none d-xl-none">
          <a href="@@webRoot/index.html"><img src="@@webRoot/assets/img/logo-light.png" srcset="@@webRoot/assets/img/logo-light@2x.png 2x" alt="" /></a>
          <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close" aria-label="Close"></button>
        </div>
        @@if (!context.onePage) {
          @@if (!context.docs) {
            @@include('_menu-links.html')
          }
          @@if (context.docs) {
            @@include('docs/_menu-links.html')
          }
        }
        @@if (context.onePage) {
          @@include('_menu-links-onepage.html')
        }
      </div>
      <!-- /.navbar-collapse -->
      <div class="navbar-other ms-auto w-100 d-none d-lg-block">
        <nav class="nav social social-muted justify-content-end text-end">
          <a href="#"><i class="uil uil-twitter"></i></a>
          <a href="#"><i class="uil uil-facebook-f"></i></a>
          <a href="#"><i class="uil uil-dribbble"></i></a>
          <a href="#"><i class="uil uil-instagram"></i></a>
        </nav>
        <!-- /.social -->
      </div>
      <!-- /.navbar-other -->
    </div>
    <!-- /.navbar-collapse-wrapper -->
  </div>
  <!-- /.container -->
</nav>
<!-- /.navbar -->
@@include('_menu-others-offcanvas-info.html')