<nav class="navbar navbar-expand-lg @@classList">
  @@if (!context.fancy) {
    <div class="container justify-content-between align-items-center">
  }
  @@if (context.fancy) {
    <div class="container">
    <div class="navbar-collapse-wrapper bg-white d-lg-flex flex-row flex-nowrap w-100 justify-content-between align-items-center">
  }
    <div class="d-flex flex-row w-100 justify-content-between align-items-center d-lg-none">
      <div class="navbar-brand"><a href="@@webRoot/index.html">
        @@if (!context.logoBoth) {       
          @@if (!context.logoLight) {
            <img src="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}.png" srcset="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}@2x.png 2x" alt="" />
          }
          @@if (context.logoLight) {
            <img src="@@webRoot/assets/img/logo-light.png" srcset="@@webRoot/assets/img/logo-light@2x.png 2x" alt="" />
          }
        }
        @@if (context.logoBoth) {
          <img class="logo-dark" src="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}.png" srcset="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}@2x.png 2x" alt="" />
          <img class="logo-light" src="@@webRoot/assets/img/logo-light.png" srcset="@@webRoot/assets/img/logo-light@2x.png 2x" alt="" />
        }
      </a></div>
      <div class="navbar-other ms-auto">
        <ul class="navbar-nav flex-row align-items-center" data-sm-skip="true">
          <li class="nav-item d-lg-none">
          <div class="navbar-hamburger"><button class="hamburger animate plain" data-toggle="offcanvas-nav"><span></span></button></div>
        </li>
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /.navbar-other -->
    </div>
    <!-- /.d-flex -->
    @@if (!context.fancy) {
      <div class="navbar-collapse-wrapper d-flex flex-row align-items-center w-100">
    }
    @@if (context.fancy) {
      <div class="navbar-collapse-inner d-flex flex-row align-items-center w-100 mt-0">
    }
      <div class="navbar-collapse offcanvas-nav">
        <div class="offcanvas-header mx-lg-auto order-0 order-lg-1 d-lg-flex px-lg-15">
          @@if (!context.logoBoth) {
            @@if (!context.logoLight) {
              <a href="@@webRoot/index.html" class="d-none d-lg-flex"><img src="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}.png" srcset="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}@2x.png 2x" alt="" /></a>
            }
            <a href="@@webRoot/index.html" @@if (!context.logoLight) {class="d-lg-none"}><img src="@@webRoot/assets/img/logo-light.png" srcset="@@webRoot/assets/img/logo-light@2x.png 2x" alt="" /></a>
          }
          @@if (context.logoBoth) {
            <img class="logo-dark" src="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}.png" srcset="@@webRoot/assets/img/@@if(context.logoAlt){@@logoAlt}@@if(!context.logoAlt){logo}@2x.png 2x" alt="" />
            <img class="logo-light" src="@@webRoot/assets/img/logo-light.png" srcset="@@webRoot/assets/img/logo-light@2x.png 2x" alt="" />
          }
          <button type="button" class="btn-close btn-close-white offcanvas-close offcanvas-nav-close d-md-none" aria-label="Close"></button>
        </div>
        @@if (!context.onePage) {
          @@if (!context.docs) {
            @@include('_menu-links.html', {
              "centerLogo": true
            })
          }
          @@if (context.docs) {
            @@include('docs/_menu-links.html', {
              "centerLogo": true
            })
          }
        }
        @@if (context.onePage) {
          @@include('_menu-links-onepage.html', {
          "centerLogo": true
        })
        }
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.navbar-collapse-wrapper -->
  @@if (!context.fancy) {
  </div>
  <!-- /.container -->
}
@@if (context.fancy) {
    </div>
    <!-- /.navbar-collapse-wrapper -->
  </div>
  <!-- /.container -->
}
</nav>
<!-- /.navbar -->