<div class="widget">
  <h4 class="widget-title mb-3">About Us</h4>
  <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.</p>
  <nav class="nav social">
    <a href="#"><i class="uil uil-twitter"></i></a>
    <a href="#"><i class="uil uil-facebook-f"></i></a>
    <a href="#"><i class="uil uil-dribbble"></i></a>
    <a href="#"><i class="uil uil-instagram"></i></a>
    <a href="#"><i class="uil uil-youtube"></i></a>
  </nav>
  <!-- /.social -->
  <div class="clearfix"></div>
</div>
<!-- /.widget -->
<div class="widget">
  <h4 class="widget-title mb-3">Popular Posts</h4>
  <ul class="image-list">
    <li>
      <figure class="rounded"><a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a1.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Magna Mollis Ultricies</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>26 Mar 2021</span></li>
          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>3</a></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"> <a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a2.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Ornare Nullam Risus</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>16 Feb 2021</span></li>
          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>6</a></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
    <li>
      <figure class="rounded"><a href="@@webRoot/blog-post.html"><img src="@@webRoot/assets/img/photos/a3.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="mb-2"> <a class="link-dark" href="@@webRoot/blog-post.html">Euismod Nullam Fusce</a> </h6>
        <ul class="post-meta">
          <li class="post-date"><i class="uil uil-calendar-alt"></i><span>8 Jan 2021</span></li>
          <li class="post-comments"><a href="#"><i class="uil uil-comment"></i>5</a></li>
        </ul>
        <!-- /.post-meta -->
      </div>
    </li>
  </ul>
  <!-- /.image-list -->
</div>
<!-- /.widget -->
<div class="widget">
  <h4 class="widget-title mb-3">Categories</h4>
  <ul class="unordered-list bullet-primary text-reset">
    <li><a href="#">Teamwork (21)</a></li>
    <li><a href="#">Ideas (19)</a></li>
    <li><a href="#">Workspace (16)</a></li>
    <li><a href="#">Coding (7)</a></li>
    <li><a href="#">Meeting (12)</a></li>
    <li><a href="#">Business Tips (14)</a></li>
  </ul>
</div>
<!-- /.widget -->
<div class="widget">
  <h4 class="widget-title mb-3">Tags</h4>
  <ul class="list-unstyled tag-list">
    <li><a href="#" class="btn btn-soft-ash btn-sm rounded-pill">Still Life</a></li>
    <li><a href="#" class="btn btn-soft-ash btn-sm rounded-pill">Urban</a></li>
    <li><a href="#" class="btn btn-soft-ash btn-sm rounded-pill">Nature</a></li>
    <li><a href="#" class="btn btn-soft-ash btn-sm rounded-pill">Landscape</a></li>
    <li><a href="#" class="btn btn-soft-ash btn-sm rounded-pill">Macro</a></li>
    <li><a href="#" class="btn btn-soft-ash btn-sm rounded-pill">Fun</a></li>
    <li><a href="#" class="btn btn-soft-ash btn-sm rounded-pill">Workshop</a></li>
    <li><a href="#" class="btn btn-soft-ash btn-sm rounded-pill">Photography</a></li>
  </ul>
</div>
<!-- /.widget -->
<div class="widget">
  <h4 class="widget-title mb-3">Archive</h4>
  <ul class="unordered-list bullet-primary text-reset">
    <li><a href="#">February 2019</a></li>
    <li><a href="#">January 2019</a></li>
    <li><a href="#">December 2018</a></li>
    <li><a href="#">November 2018</a></li>
    <li><a href="#">October 2018</a></li>
  </ul>
</div>
<!-- /.widget -->